.about-container {
  width: 70%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.display-image {
  height: 40%;
}

.display-text {
  font-family: 'Roboto';
  font-weight: 500;
  color: #6d396b;
}

.descriptive {
  font-family: 'Roboto';
  font-weight: 500;
  color: #6d396b;
}
